<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Enter the long url below</h5>
    <div>
      <input type="text" #longurl class = "form-control" placeholder="Enter url">
      </div>
      <div class = "btn">
        <button  class="btn btn-primary" (click) = "processdata(longurl.value);">Get url</button>
    </div>
    <h5 class="card-title">antonyrahul.site/{{this.shorturl}}</h5>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>